@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #adadad;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #a9a9a9;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(to bottom right, #ffffff, #e0f0ff, #add8e6);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

